/*
 * 全局样式。
 * 边框统一颜色为：#e0dddf。
 * 中部颜色为：#ccffff。
 */
body {
    background-color: white;
}

/*bootstrap的顶部导航*/
.topnav {
    background-color: white;
    height: 50px;
}

/*自定义顶部导航外部div需要添加此类*/
.topnavbar {
    height: 70px;
    background-color: white;
    position: fixed;
    border-bottom: solid 1px #e0dddf;
    z-index: 1;
}

/*自定义顶部导航*/
.newtopnav {
    height: 70px;
    position: relative;
    margin: 0px 5%;
    background-color: white;
    border-bottom: solid 1px #e0dddf;
}

.newtopnav a {
    text-decoration: none;
}

.topnavspan {
    position: relative;
    margin-top: 2%;
    width: 98px;
}

.topnavspan .dropdown-menu {
    position: relative;
}

/*页面中部div*/
.body-div {
    position: relative;
    margin-top: 85px;
}

.body-inside-div {
    position: relative;
    margin: 0px 5%;
}

.background-div {
    position: relative;
    background-color: #f3f6ff;
    padding-bottom: 15px;
}

.body-inside-div .top-btn-div {
    margin-bottom: 15px;
    padding: 0px;
}

.body-inside-div .group-div {
    /*float: left;*/
    padding: 0px 14px;
}

.body-inside-div .group-child {
    background-color: white;
    border: solid 1px #e0dddf;
    border-radius: 5px; /*设置div圆角*/
    margin-bottom: 15px;
}

.body-inside-div .group-child h3 {
    padding: 0px 15px;
}

.body-inside-div .group-child img {
    margin-top: 8px;
    width: 100%;
}

.body-inside-div .group-child ul {
    list-style: none;
    margin: 10px;
    padding-left: 10px;
}

.body-inside-div .group-child ul a {
    text-decoration: none;
}

.body-inside-div .group-child ul img{
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-right: 10px;
}

.body-inside-div .group-child ul h5 {
    cursor: pointer; /*鼠标小手形态*/
    padding-right: 15px;
}

.body-inside-div .group-child ul h5 .omit {
    display: none;
}

.body-inside-div .group-child .group-foot {
    position: relative;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 20px;
}

.body-inside-div .group-child .group-foot > a{
    font-size: 5px;
}

.body-inside-div .group-child .group-foot a {
    text-decoration: none;
}

/*页面底部div*/
.foot-div {
    position: relative;
    background-color: white;
    border-top: solid 1px #e0dddf;
}

.footsection {
    padding: 0px;
}

.footsection h5 {
    margin: 0px 0px;
    border-bottom: solid 1px #caccce;
}

.footsection ul {
    list-style: none; /*去掉ul li 前面的点*/
    padding: 0px;
    margin: 0px;
}

.foot-inside-div {
    position: relative;
    margin: 0px 5%;
    padding-top: 10px;
}

.foot-inside-div > div {
    position: relative;
    width: 100%;
    margin: 100px 0px 20px;
}

.foot-inside-div .table > tbody > tr > td {
    border: 0px solid transparent;
}

/*图片展示div*/
.imgDiv img{
    position: relative;
    width: 95%;
    margin: 5px;
}

/*异常页面*/
.error-span {
    position: fixed;
    font-size: 30px;
    color: #e2e2e2;
    margin-top: 13%;
    padding-left: 50px;
}
.error-div {
    position: fixed;
    width: 100%;
    height: 100%;
}
.error-img {
    position: fixed;
    margin-top: 10%;
    width: 570px;
    heigth: 380px;
}

/*登陆页面*/
.login-div {
    position: relative;
    width: 300px;
    height: auto;
    border: solid 1px #e0dddf;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 25px 10px 0px 10px;
}

.login-img {
    position: relative;
    margin-top: 20%;
    margin-bottom: 30px;
    width: 147px;
    height: 73px;
}

.login-btn {
    position: relative;
    width: 100%;
}

.error {
    color: red;
    font-weight: 500;
}

/*返回顶部*/
.back-top {
    position: fixed;
    width: 50px;
    height: 50px;
    border: solid 1px #e0dddf;
    border-radius: 5px;
    background-color: white;
    bottom: 50px;
    right: 10px;
    padding: 8px 10px 10px 8px;
    display: none;
}
/* TODO 如果想使返回顶部按钮固定在页脚上面，需要用到这段
 * http://www.it1352.com/567175.html 示例
.fixed-back-top {
    position: absolute! important;
    bottom: 0px! important;
}*/

.back-top > i {
    font-size: 30px;
}

/*注册页面样式*/
.register-page {
    position: fixed;
    height: 100%;
    width: 100%;
}

.register-page > .row {
    position: absolute;
    height: 100%;
    width: 100%;
}

.register-page > .row div {
    height: 100%;
}

.register-page > .row .carousel-inner img {
    height: 100%;
}

.register-page > .row > .col-md-4 {
    padding: 0px;
}

.register-page form span {
    background-color: white;
}