<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.dao.GroupChildMapper">
    <select id="listByUsername" parameterType="string" resultType="com.wj.bean.model.IndexGroupChild">
        select
            igc.web_id "webId",
            igc.group_id "groupId",
            igc.web_url "webUrl",
            igc.web_name "webName",
            igc.web_icon "webIcon",
            igc.if_des "ifDes"
        FROM index_group_child igc
        LEFT JOIN index_web_group iwg on igc.group_id = iwg.GROUP_ID
        LEFT JOIN sys_user su on su.user_id = iwg.user_id
        WHERE
            su.username = #{username};
    </select>

    <select id="listChildByGroupId" parameterType="int" resultType="com.wj.bean.model.IndexGroupChild">
        select
        igc.web_id "webId",
        igc.group_id "groupId",
        igc.web_url "webUrl",
        igc.web_name "webName",
        igc.web_icon "webIcon",
        igc.if_des "ifDes"
        FROM index_group_child igc
        WHERE
        igc.group_id = #{groupId};
    </select>

    <update id="updateChildGroup" parameterType="integer">
        UPDATE index_group_child SET GROUP_ID = #{groupId} WHERE WEB_ID = #{webId};
    </update>

    <delete id="deleteGroupChild">
        DELETE
        FROM
            index_group_child
        WHERE
            group_id = #{groupId}
        AND web_id IN
        <foreach collection="webIds" item="webId" open="(" separator="," close=")">
            #{webId}
        </foreach>
    </delete>
    
    <update id="logicDeleteGroupChild">
        UPDATE index_group_child
        SET GROUP_ID = '0'
        WHERE
            GROUP_ID = #{groupId}
        AND WEB_ID IN
        <foreach collection="webIds" item="webId" open="(" separator="," close=")">
            #{webId}
        </foreach>
    </update>

    <update id="logicDeleteSingleChild">
        UPDATE index_group_child
        SET GROUP_ID = '0'
        WHERE
        GROUP_ID = #{groupId}
        AND WEB_ID = #{webId};
    </update>

    <update id="logicDeleteGroupAllChild">
        UPDATE index_group_child
        SET group_id = '0'
        WHERE
            group_id = #{groupId};
    </update>
</mapper>