<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.dao.WebGroupMapper">
    <select id="listByUsername" parameterType="string" resultType="com.wj.bean.WebGroup">
        select
            iwg.GROUP_ID "groupId",
            iwg.title "title",
            iwg.little_title "littleTitle",
            iwg.image "image",
            iwg.user_id "userId",
            iwg.theme "theme"
        from
            index_web_group iwg
        LEFT JOIN sys_user su on iwg.USER_ID = su.USER_ID
        WHERE
            su.USERNAME = #{username};
    </select>

    <update id="updateGroupTitle">
        UPDATE index_web_group
        SET TITLE = #{title},
         LITTLE_TITLE = #{littleTitle}
        WHERE
            GROUP_ID = #{groupId}
        AND USER_ID = #{userId};
    </update>
</mapper>